
%header.header
  .header__title
    Happy Wedding!! <br>Megumi &amp; Takashi
.contents

  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/1H0ymAYJZAm2A00ciTnsmFvmJ7OKc-5kG/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        2020.11.28<br>めぐみさんとたかしさんの結婚式で披露した<br>
        まひろさん ふゆかさん さきさん さやかさん による余興VTR<br>
        鬼滅の刃の主題歌の"紅蓮華"のオタ芸をやりました

  .video-body
    .video1__box
      .video1__title 
        結婚式余興動画 NG ver.
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/1qXXoIEjDmMcIl8doziXqd2ifB4Lgetpv/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        2020.11.28<br>めぐみさんとたかしさんの結婚式で披露した<br>
        まひろさん ふゆかさん さきさん さやかさん による余興VTR<br>
        ‥のNGのお蔵入りとなった動画です


  .video-body
    .video1__box
      .video1__title 
        余興動画撮影 NGシーン集
    .video1
      = image_tag "top3.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/16ZkNBim_jAAvOWJR-16oYZKWz8GMZSTk/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        撮影スタジオをレンタルして臨んだ余興動画の撮影<br>
        めぐみさんのエピソードを一生懸命に話す<br>
        幹事の4人を微笑みながら見る裏側の動画です。

  .video-body
    .video1__box
      .video1__title 
        オタ芸練習風景
    .video1
      = image_tag "top4.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/1CIXzpJHfu515Nz7QEErGfCIvGJMjTOMz/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        2020.10.18と2020.11.03に<br>
        寒い中みんなでオタ芸を練習した時の風景です<br>
        鬼滅の刃の主題歌に合わせて頑張りました<br>
        まひろさんのコミカルな動きと上達ぶりを<br>
        楽しむための動画です
  .video-body
    .video1__box
      .video1__title 
        2020.11.03 打ち合わせ
    .video1
      = image_tag "top5.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/1DqFlg_Y_b1RXAlrAJtXQE4xke-cLAPSv/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        動画の仕様について編集者と打ち合わせをした時の動画です<br>
        みなさんに直筆の文字を書いていただき<br>
        動画に挿入しました<br>
        みなさん新婦のめぐみさんのことが大好きなのが<br>
        ひしひしと伝わってきました<br>

  .video-body
    .video1__box
      .video1__title 
        ♪たしかなこと
    .video1
      = image_tag "top6.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/1xlbbxWopq8pnizupW87vW8kEyJ4CQCOd/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        みなさんが提供してくださったお写真の余りを使って<br>
        有名な明治安●生命さんのCM風の動画を作成しました(笑)<br>
        みなさんの思い出を振り返る機会になれば幸いです。

  .video-body
    .video1__box
      .video1__title 
        ♪愛になる
    .video1
      = image_tag "top7.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/1yeFP2iTLu4QjeORTsLKkqYAk7_JtboCc/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        みなさんが提供してくださったお写真の余りを使って<br>
        有名な明治安●生命さんのCM風の動画を作成しました(笑)<br>
        みなさんの思い出を振り返る機会になれば幸いです。
  = yield
%footer.footer
  Copyright ©  20_holiday 2020~




.cp_cont
  .cp_offcm01
    %input#cp_toggle01{:type => "checkbox"}/
    %label{:for => "cp_toggle01"}
      %span
    .cp_menu
      %ul
        %li
        %li
        %li
          %a{:href => "#"} 動画の追加するには
        %li
          %a{:href => "#"} 動画のダウンロード方法について
        %li
          %a{:href => "#"} photography
        %li
          %a{:href => "#"} 20_holiday
        %li
          = link_to "ログアウト", destroy_user_session_path ,method: :delete, class: 'btn'
%script{:src => "main.js"}

