
%header.header
  .header__title
    Happy Wedding!! Megumi &amp; Takashi
.contents

  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "https://drive.google.com/file/d/1H0ymAYJZAm2A00ciTnsmFvmJ7OKc-5kG/view?usp=sharing"}   再生画面へ
    .video-infomation
      .video-infomation-text
        2020.11.28<br>めぐみさんとたかしさんの結婚式で披露した<br>
        まひろさん ふゆかさん さきさん さやかさん による余興VTR<br>
        鬼滅の刃の主題歌の"紅蓮華"のオタ芸をやりました

  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "#"}   再生画面へ
    .video-infomation
      .video-infomation-text
        <br>うんこ食べたい
  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "#"}   再生画面へ
    .video-infomation
      .video-infomation-text
        <br>うんこ食べたい
  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "#"}   再生画面へ
    .video-infomation
      .video-infomation-text
        <br>うんこ食べたい
  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "#"}   再生画面へ
    .video-infomation
      .video-infomation-text
        <br>うんこ食べたい
  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "#"}   再生画面へ
    .video-infomation
      .video-infomation-text
        <br>うんこ食べたい
  .video-body
    .video1__box
      .video1__title 
        2020.11.28 結婚式余興動画
    .video1
      = image_tag "top1.jpg", size: "560x400", alt: "顔写真1"
    %a.btn-square{:href => "#"}   再生画面へ
    .video-infomation
      .video-infomation-text
        <br>うんこ食べたい
  = yield
%footer.footer
  Copyright ©  M.M 2020~




.cp_cont
  .cp_offcm01
    %input#cp_toggle01{:type => "checkbox"}/
    %label{:for => "cp_toggle01"}
      %span
    .cp_menu
      %ul
        %li
        %li
        %li
          %a{:href => "#"} 動画の追加するには
        %li
          %a{:href => "#"} 連絡先
        %li
          %a{:href => "#"} photography
        %li
          %a{:href => "#"} 我々について
        %li
          %a{:href => "#"} 20_holiday
        %li
          = link_to "ログアウト", destroy_user_session_path ,method: :delete, class: 'btn'
%script{:src => "main.js"}

