
%header.header
  .header__title
    ログイン画面
  
.contents-a
  #account-page.account-page
  .account-page__inner--right.user-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .field-label
          ユーザー名
        .field-input
          = f.email_field :email, autofocus: true
        .field
          .field-label
            = f.label :password
          .field-input
            = f.password_field :password, autocomplete: "off"
        .actions
          = f.submit "ログイン", class: 'btn'


  .footer
    Copyright ©  M.M 2020~